:root{

	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--black:#282623;
	--grey:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

header{
	display: flex;
	position: relative;
	width: 100%;
	min-width: 320px;
	box-shadow: 0px 2px 4px rgba(158, 195, 238, 0.356);

}

header img{
	width:100%;
	min-width: 320px;
	height: auto;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 100%;
    min-width: 320px;
	height: 700px;
}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login img{
	margin-top: 20px;
	width: 120px;
	height: 120px;
}

h1{
	font-weight: bold;
    font-size: 1.8rem;
    color: var(--warm-black);
}

.form{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-top: 30px;

}

.form label{
    font-size: 1.5rem;
	font-weight: 500;
    color: rgb(54, 54, 54);
    margin-top:8px;
    margin-bottom:8px;
}

.form p{
    font-size: 1.4rem;
    color:rgba(72, 65, 78, 0.856);
    margin-top:20px;
 
}

.form input{
    font-size: 1.4rem;
    color: rgb(54, 54, 54);
    border: 1px solid  var(--black);
    box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.356);
    border-radius: 6px;
	width: auto;
    height: 24px;
    padding: 6px;
    text-align: center;
    
}

.form a{
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: var(--just-white);
    width: 120px;
    height: auto;
    margin-top: 30px;
    background-color:var(--black);
    padding: 10px;
    border-radius: 4px;
    justify-self: center;
	cursor: pointer;

}

.form a:hover{
    color:var(--soft-blue);
}

footer{		
	width: 100%;
	min-width: 320px;
	height: auto;
	background: linear-gradient(180deg, var(--warm-black) 26.9%, var(--black)  100%);
	border-top: groove 1px rgba(29, 4, 70, 0.904);
}

.footer	{
	display: flex;
	justify-content: center;
	width: 100%;	
	margin-top: 10px;
}

.footer p{

	font-size: 1.4rem;
	color: var(--just-white);
	text-align: center;
}

.by p{
	text-align: center;
	width: 100%;	
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 1.2rem;
	color: var(--just-white);
}


.contact img{
	
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	width: 18px;
	height: 18px;	
	vertical-align: bottom;
	margin-right:4px;
}

.contact{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	
}
.contact p, a{
	justify-self: center;
	font-size: 1.3rem;
	color: var(--just-white);
	text-decoration:none;
	
}

.contact-social{
	display:inline-block ;
	margin-left: 10px;
	margin-right: 10px;
	
}

.contact-social img{
	
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	width: 18px;
	height: 18px;	
	vertical-align: bottom;
	margin-right:4px;
}



