:root{

	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--black:#282623;
	--grey:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

header{
	display: flex;
	position: relative;
	width: 100%;
	min-width: 320px;
	box-shadow: 0px 2px 4px rgba(158, 195, 238, 0.356);

}

header img{
	width:100%;
	min-width: 320px;
	height: auto;
}



main{	
	width: 100%;
	min-width: 320px;
	height:auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgb(2,0,36);
	background: var(--just-white);

}

.info{
	display: flex;
	flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.info h2{
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(47, 37, 134, 0.877);
    color: var(--off-white);
}

.info h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top:20px;
    margin-bottom:10px;
}

.info p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height:18px;
	margin-top: 10px;
	margin-bottom:10px ;
	text-align: justify;
}

.info li{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 20px;
}

.info button{
    margin-top: 20px;      
}

.info a{
    text-decoration: none;
    color: var(--off-white);
}

button{
	align-self: center;
	width: 160px;
	height:30px;
	margin: 20px 10px 10px 10px ;
	padding: 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 4px rgba(48, 44, 44, 0.582);
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--black);
   
}

   
.form button:hover{
    color:var(--soft-blue);
}


footer{	
	
	bottom: 0;
	width: 100%;
	min-width: 320px;
	height: auto;
	background: linear-gradient(180deg, var(--warm-black) 26.9%, var(--black)  100%);
	border-top: groove 1px rgba(29, 4, 70, 0.904);
	}


.footer	{
	display: flex;
	justify-content: center;
	width: 100%;	
	margin-top: 10px;
}	

.footer p{

	font-size: 1.4rem;
	color: var(--just-white);
	text-align: center;
}

.by p{
	text-align: center;
	width: 100%;	
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 1.2rem;
	color: var(--just-white);
}



.contact img{
	
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	width: 18px;
	height: 18px;	
	vertical-align: bottom;
	margin-right:4px;
}

.contact{
	
	display:flex;
	margin-top:20px;	
}

.contact-right{
	display:flex ;
	width: 50%;
	align-items:center ;
	justify-content: center;
	
}

.contact-left{
	display:flex ;
	width: 50%;
	align-items:center ;
	justify-content: center;
}



.contact p{
	justify-self: center;
	font-size: 1.3rem;
	color: var(--just-white);
	
}